@charset "utf-8";

body {
  font-family: var(--font-en-main);
  font-size: var(--font-xs);
  background-color: var(--color-gray-10);
  position: relative;
  height: 400vh;
}

header {
  justify-content: space-between;
}

header .menu-left a {
  margin-right: 20px;
}

header .menu-left {
  left: 35px;
  top: 20px;
}

header .menu-right {
  text-transform: capitalize;
  right: 35px;
  top: 20px;
}

main {

  align-items: center;
}

main .portfolio-list {
  font-family: var(--font-en-sub);
  font-size: var(--font-sm);
  color: var(--color-gray-20);
  text-transform: uppercase;
  width: 32%;
}

main .portfolio-list li.on {
  color: var(--color-black);
}

main .portfolio-list ul {
  margin-left: 100px;
}

main .portfolio-list ul li {
  margin: 20px;
}

main .portfolio-project {
  margin-left: 32%;
  width: 68%;
}

main .portfolio-project .portfolio-wrapper li {
  grid-template-columns: 55% 45%;
  height: 100vh;
  transform: translateY(-12vh);
  /* width: 55%; */
  /* border-bottom: 1px solid #000; */
}


main .portfolio-project .portfolio-wrapper {
  overflow: hidden;
  margin-top: 12vh;
  height: 76vh;
  border: 1px solid #000;
  border-radius: 60px;
  background: linear-gradient(to right bottom, #fff, #ddd, rgb(77, 125, 96, 0.5));
}

main .portfolio-project .portfolio-wrapper .description {
  padding-top: calc(12vh + 60px);
  position: relative;
  margin-left: 60px;
  grid-column: 1;
}

main .portfolio-project .portfolio-wrapper .description h2 {
  font-weight: 700;
  font-size: var(--font-xl);
}

main .portfolio-project .portfolio-wrapper .description div:first-of-type {
  padding-top: 36vh;
}

main .portfolio-project .portfolio-wrapper .description .skills {
  padding-left: 5px;
  color: var(--color-gray-30);
}


main .portfolio-project .portfolio-wrapper .description .website,
.report {
  justify-content: space-between;
}

main .portfolio-project .img-container1 img {
  /* padding-top: 12vh; */
  /* padding-left: calc(5% + 30px); */
  height: 53%;
  width: 20%;
  object-fit: cover;
  border-radius: 30px;
  position: fixed;
  top: 26vh;
  right: 60px;
  z-index: 9999;
  box-shadow: 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

main .portfolio-project .img-container2 img {
  height: 53%;
  width: 19%;
  object-fit: cover;
  border-radius: 30px;
  position: fixed;
  top: 24vh;
  right: calc(60px + 0.5%);
  z-index: 999;
  box-shadow: 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

main .portfolio-project .img-container3 img {
  height: 53%;
  width: 18%;
  object-fit: cover;
  border-radius: 30px;
  position: fixed;
  top: 22vh;
  right: calc(60px + 1%);
  z-index: 99;
  box-shadow: 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

main .portfolio-project .img-container4 img {
  height: 53%;
  width: 17%;
  object-fit: cover;
  border-radius: 30px;
  position: fixed;
  top: 20vh;
  right: calc(60px + 1.5%);
  z-index: 9;
  box-shadow: 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

main .portfolio-project .portfolio-wrapper .description .website a {
  color: var(--color-gray-30);
  text-decoration: underline;
  /* text-align: left; */
}

main .portfolio-project .portfolio-wrapper .description .website p {
  font-weight: 500;
}

main .portfolio-project .portfolio-wrapper .description .report {
  margin-top: 20px;
}

main .portfolio-project .portfolio-wrapper .description .report p {
  padding-top: 10px;
  font-weight: 500;
}

main .portfolio-project .portfolio-wrapper .description .report a {
  border: 1px solid var(--color-black);
  padding: 10px 20px;
  border-radius: 20px;
  text-wrap: nowrap;
}

main .portfolio-project .portfolio-wrapper .description .report a:hover {
  background-color: var(--color-lightblue);
}

main .portfolio-project .portfolio-wrapper li .img-wrapper {
  width: 100%;
  height: 100%;
  grid-column: 2;
}

footer {
  bottom: 20px;
  left: 35px;
}