@charset "utf-8";

body {
  font-family: var(--font-en-main);
  font-size: var(--font-xs);
  background-color: var(--color-gray-10);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

header {
  justify-content: space-between;

}

header .menu-left a {
  margin-right: 20px;
}

header .menu-left {
  left: 35px;
  top: 20px;
  z-index: 9999;
}

header .menu-right {
  text-transform: capitalize;
  right: 35px;
  top: 20px;
  z-index: 9999;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
}

section {
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 1;
  /* Ensure it's above background but below content */
}

.fixed-area {
  width: 65vw;
  margin-left: 25vw;
  margin-top: 12vh;
  z-index: 2;
  /* Set z-index to be above section */
  background-color: #ddd;
  border: 1px solid #000;
  border-radius: 60px;
  height: 76vh;
  position: fixed;
  background: linear-gradient(to right bottom, #fff, #ddd, rgb(77, 125, 96, 0.5));
  overflow: hidden;
}

.slide-container {
  position: absolute;
  width: 100%;
  height: 400%;
  /* 4 slides, each 100vh */
  transition: transform 0.6s ease;
  /* Smooth transition for sliding */
  z-index: 3;
  /* Ensure it's above fixed-area */
}

ul {
  list-style: none;
  z-index: 4;
  /* Ensure bullets are on top */
}

ul li {
  margin: 20px;
}

ul a {
  /* text-decoration: none; */
  /* color: rgb(159, 159, 159); */
  font-family: var(--font-en-sub);
  font-size: var(--font-sm);
  color: var(--color-gray-20);
}

.slide {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  /* Center content horizontally */
  align-items: center;
  /* Center content vertically */
  flex-shrink: 0;
  box-sizing: border-box;
  position: relative;
}

.description {
  position: absolute;
  top: 60px;
  left: 60px;
  text-align: left;
  /* Align text to the left */
  width: 40%;
}

.description div:first-of-type {
  padding-top: 36vh;
}

.description p {
  margin: 0;
  padding: 0;
}

.description h2 {
  font-weight: 700;
  font-size: 34px;
  margin: 0;
  padding: 0;
}

.description .skills {
  padding-left: 5px;
  color: var(--color-gray-30);
}

.description .report {
  margin-top: 20px;
}

.description .website a {
  padding-right: 10px;
  color: var(--color-gray-30);
  text-decoration: underline;
}

.description .website p {
  font-weight: 500;
}

.description .report p {
  padding-top: 10px;
  font-weight: 500;
}

.description .report a {
  border: 1px solid #000;
  padding: 10px 20px;
  border-radius: 20px;
  text-wrap: nowrap;
  text-decoration: none;
}

.bullets {
  position: fixed;
  top: 50%;
  left: 5%;
  transform: translate(0, -50%);
  z-index: 4;
  font-size: 20px;
  /* Ensure bullets are on top */
}

.active-bullet {
  color: #000;
}

.img-wrapper img {
  transform-origin: top center;
  /* Set the transform origin to top center */
  transition: transform 0.6s ease, opacity 0.6s ease;
  /* Smooth transition for transform and opacity */
}

.img-container1 img {
  /* padding-top: 12vh; */
  /* padding-left: calc(5% + 30px); */
  display: block;
  height: 53%;
  width: 20%;
  object-fit: cover;
  border-radius: 30px;
  position: fixed;
  top: 26vh;
  right: calc(10vw + 60px);
  z-index: 9999;
  box-shadow: 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

.img-container2 img {
  display: block;
  height: 53%;
  width: 19%;
  object-fit: cover;
  border-radius: 30px;
  position: fixed;
  top: 24vh;
  right: calc(10.5vw + 60px);
  z-index: 999;
  box-shadow: 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

.img-container3 img {
  display: block;
  height: 53%;
  width: 18%;
  object-fit: cover;
  border-radius: 30px;
  position: fixed;
  top: 22vh;
  right: calc(11vw + 60px);
  z-index: 99;
  box-shadow: 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

.img-container4 img {
  height: 53%;
  width: 17%;
  object-fit: cover;
  border-radius: 30px;
  position: fixed;
  top: 20vh;
  right: calc(11.5vw + 60px);
  z-index: 9;
  box-shadow: 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

footer {
  bottom: 20px;
  left: 35px;
  z-index: 9999;
}